<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password - SongElite</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header class="bg-dark text-white text-center custom-header-padding">
      <div class="container position-relative">
        <img
          src="/images/SongElite-icon.jpg"
          alt="SongElite Logo"
          class="logo-img-floating"
        />
        <h1>
          <img
            src="/images/SongElite-icon.jpg"
            alt="SongElite Logo"
            class="logo-img-start"
          />
          Forgot Your Password?
        </h1>
        <p>Enter your email to receive a password reset link.</p>
      </div>
    </header>

    <main class="py-5">
      <div class="container">
        <% if (error) { %>
        <div class="alert alert-danger" role="alert"><%= error %></div>
        <% } %> <% if (message) { %>
        <div class="alert alert-success" role="alert"><%= message %></div>
        <% } %>

        <form
          action="/users/forgot-password"
          method="POST"
          class="shadow p-4 rounded"
        >
          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              required
            />
          </div>
          <button type="submit" class="btn btn-dark-blue w-100">
            Send Reset Link
          </button>
        </form>
      </div>
    </main>

    <footer class="bg-dark text-white text-center py-1">
      <p>SongElite © 2024. All Rights Reserved.</p>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz4fnFO9gyb71p0hDT6K3h2TL3rh8huKqz9b6s3R0NJw8YpfWqFjt5g2k7b"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
      integrity="sha384-pzjw8f+ua7Kw1TIq0bqA1o6Dd4f8v5TboG2ctI9w+zvS/jr59F2uAsnIkpJ9p9n8i"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
